<div id="books-index">
    <div class="row">

        <div class="col-md-3 col-sm-3">
            <h3>Coding with Superman</h3>
            <%= image_tag('stock_photos/superman_thumbnail.jpg') %>
                <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
                </div>
                    <div class="col-md-3 col-sm-3">
                        <h3>Coding with Spiderman</h3>
                        <%= image_tag('stock_photos/spiderman_thumbnail.jpg') %>
                            <%= link_to 'Read More', book_path(1), class:'btn btn-primary' %>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <h3>Coding with The Flash</h3>
                        <%= image_tag('stock_photos/The_Flash_thumbnail.jpg') %>
                            <%= link_to 'Read More', book_path(1), class: 'btn btn-primary' %>
                    </div>

    </div>
